.wdrawer {
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1200;
  &,
  &-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    transition: all .15s ease-out;
  }
  &-page {
    transition: all .15s ease-out;
    transition-delay: .05s;
  }
  &-backdrop {
    left: 0;
    right: 0;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    &.is-active {
      opacity: 0.5;
      visibility: visible;
    }
  }
}